<h1>New Vote</h1>

<% if @vote.errors.any? %>
  <% @vote.errors.full_messages.each do |msg| %>
    <p class="alert alert-error"><%= msg %></p>
  <% end %>
<% end %>

<%= form_tag(votes_url, method: 'post') do %>


  <div>
    <%= label_tag :movie_id %><br />
    <%= select_tag :movie_id, options_from_collection_for_select(Movie.order("title"), :id, :title) %>
  </div>

  <div>
    <%= label_tag :user_id %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.order("name"), :id, :name) %>
  </div>


  <div>
    <%= submit_tag "Create Vote" %>
  </div>
<% end %>
